* {
  /* font-family: 'Fira Code', 'Symbols Nerd Font Mono'; */
  font-family: "Iosevka Nerd Font";
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  font-size: 16px;
  border: none;
  min-height: 35px;
}

window#waybar {
  background: transparent;
}

#custom-launcher,
#workspaces {
  border-radius: 10px;
  background-color: #11111b;
  color: #b4befe;
  margin-top: 15px;
  margin-right: 15px;
  padding-top: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

#custom-launcher {
  font-size: 20px;
  margin-left: 15px;
  color: #b4befe;
}

#workspaces button {
  background: #11111b;
  color: #b4befe;
}

#clock,
#cava,
#pulseaudio,
#bluetooth,
#network,
#battery,
#custom-power {
  border-radius: 10px;
  background-color: #11111b;
  color: #cdd6f4;
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 15px;
}

#cava,
#bluetooth {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 5px;
  margin-right: 0px;
}

/* #pulseaudio, */
#network {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 5px;
  margin-left: 0;
}

#clock {
  margin-right: 0;
  min-width: 80px;
}

#custom-power {
  min-width: 24px;
}

#pulseaudio {
  min-width: 76px;
}
